<!DOCTYPE html>
<html>
  <head>
   <title> <%= title %></title>
  </head>
  <body>
    <form action="https://ccore.spgateway.com/MPG/mpg_gateway" method="post">
      <input type="text" name="MerchantID" value="MS13095118">
      <input type="hide" name="TradeSha" value="HashKey=46A9ENgIy0uuOjd0YCXxnZ3uaPk2ZxSX&20c59dee7f54e755fe2956297fd457dfadd1b686a258f899eedac459c045ff85b423b3872cc64a85694acd19452853bc8f65481d12257728a7bc9ad9f1e558038e175513b620c20d002a9f32a7a7bc0a88251647f6904bc7e669cf7ea9bedb51fae0feb8ae60c0476fde2441ed521179f8e528fe7f2bde92aab89e54b05658c64c54be84055dee36cd637ba62e7a1bb5e5490fe6b777dfbef7e2b74a2c824a0a&HashIV=CP3AJ2z9hCrQeyyP">
      <input type="hide" name="TradeInfo" value="20c59dee7f54e755fe2956297fd457dfadd1b686a258f899eedac459c045ff85b423b3872cc64a85694acd19452853bc8f65481d12257728a7bc9ad9f1e558038e175513b620c20d002a9f32a7a7bc0a88251647f6904bc7e669cf7ea9bedb51fae0feb8ae60c0476fde2441ed521179f8e528fe7f2bde92aab89e54b05658c64c54be84055dee36cd637ba62e7a1bb5e5490fe6b777dfbef7e2b74a2c824a0a">
      <input type="text" name="TimeStamp" value="1656384620">
      <input type="text" name="Version" value="1.5">
      <input type="text" name="MerchantOrderNo" value="1656384620">
      <input type="text" name="Amt" value="60">
      <input type="email" name="Email" value="yosontw21@gmail.com">
      <button type="submit">送出</button>
    </form>
  </body>
</html>